<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $customerSession = $objectManager->get('Magento\Customer\Model\Session');
?>
    <?php if ($customerSession->isLoggedIn()): ?>
        <a class="action showaccount" href="<?php echo $block->getHref(); ?>">
            <span class="text"><?php echo __('My Account'); ?></span>
        </a>
    <?php else: ?>
        <div data-block="minilogin" class="minilogin-wrapper">    
            <a class="action showlogin" href="#">
                <span class="text"><?php echo __('Sign In'); ?></span>
            </a>
            <div class="block block-minilogin">
                <div id="minilogin-content-wrapper">
                    <img src="<?php echo $block->getViewFileUrl('images/loader-1.gif'); ?>" alt="<?php echo __('Loading'); ?>" title="<?php echo __('Loading'); ?>" width="35" height="35" class="loading"/>
                </div>
            </div>
        </div>
    <?php endif; ?>
